@keyframes close {
    to{
        transform: translate(0%);
    }
    from{
        transform: translate(200%);
    }
}

@keyframes appear {
    from{
        transform: opacity(0);
    }
    to{
        transform: opacity(1);
    }
}