@media (max-width: 882px){
    header{
        padding: 20px;
        justify-content: space-between;
    }

    .logo{
        /*background: red;*/
        max-height: 30px;
        max-width: 30px;
    }

    .navbar{
        padding: 0px;
        gap: 20px;
    }

    .menu-label{
        display: flex;
    }

    .bar{
        width: 30px;    
        border: 1px solid white;
    }
    
    .navbar-list{
        width: 96%;
        top: 60px;
        left: 2%;
        position: absolute;
        background: #258d76;
        flex-direction: column;
        display: none;
        gap: 5px;
        border-radius: 0 0 10px 10px;
        border: 1px solid white;
        border-top: none;
    }

    #menu-toggle:checked + .navbar-list{
        display: flex;
        animation: slidedown .5s linear;
    }

    .menu-label ⁓ #menu-toggle:checked  {
        display: none;

    }

    @keyframes slidedown {
        from{
            transform: translateY(-100%);
            transform: skew(0px);
        }

        to{
            transform: translateY(0%);
            transform: skew(250px);
        }
    }



    .cards-container{
        flex-direction: column;
    }

    .info-card{
        width: 100%;
    }




    .products-container{
        padding: 10px;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        gap: 10px;
    }

    /* Products */
    .product-image{
        height: 180px;
        object-fit: cover;
    }

    .product-title{
        font-size: 16px;
    }

    .product-description{
        font-size: 16px;
    }




}


@media (max-width: 576px){


    





    .products-container{
        padding: 10px;
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
        gap: 10px;
    }
}