@media (max-width: 882px){
    header{
        padding: 20px;
        justify-content: space-between;
    }

    .navbar{
        padding: 0px;
        gap: 20px;
    }

    .menu-label{
        gap: 5px;
        flex-direction: column;
        cursor: pointer;
        display: flex;
    }

    /*
    .menu-label{
        gap: 0;
        cursor: pointer;
    }
    */

    /*
    .menu-label span:nth-child(1){
        transform: rotate(140deg);
    }

    .menu-label span:nth-child(2){
        display: none;
        transform: rotate(225deg);
    }

    .menu-label span:nth-child(3){
        transform: rotate(225deg);
    }
    */

    .navbar-list{
        top: 62px;
        position: absolute;
        left: 0;
        width: 100%;
        background: #0aac60;
        flex-direction: column;
        display: none;
        gap: 5px;
        border-radius: 0 0 10px 10px;
        border: 1px solid white;
        border-top: none;
        z-index: 2;
        animation: slidedown .5s linear;
    }

    .open-menu{
        display: flex;
    }

    @keyframes slidedown {
        from{
            transform: translateY(-100%);
            transform: skew(0px);
        }
        to{
            transform: translateY(0%);
            transform: skew(250px);
        }
    }



    /*
    .cart-cross span{
        height: 1.5px;
        width: 30px;
        background: black;
        transition: transform 0.3s;
    }

    .cart-cross span:nth-child(1){
        position: relative;
        top: 0;
        transform: rotate(135deg);
    }

    .cart-cross span:nth-child(2){
        position: relative;
        top: 0;
        transform: rotate(225deg);
    }
    */


    



    /* Hero */
    .hero{
        padding: 10px;
        height: unset;
    }

    .hero-container{
        flex-direction: column;
    }

    .title-container{
        gap: 10px;
    }

    .title{
        font-size: 40px;
        text-align: center;
    }

    .title-container p{
        font-size: 16px;
        max-width: unset;
        width: 100%;
    }

    /* About us*/

    .title-section{
        font-size: 24px;
    }

    .description-image{
        width: 200px;
        height: 200px;
    }

    .text-description{
        font-weight: 900;
        font-size: 18px;
        font-family: "Doto", sans-serif;
    }








    /* Cards */
    .cards-container{
        flex-direction: column;
    }














    .info-card{
        width: 100%;
    }

    .products-container{
        padding: 10px;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        gap: 10px;
    }

    /* Products */
    .product-image{
        height: 180px;
        object-fit: cover;
    }

    .product-title{
        font-size: 16px;
    }

    .product-description{
        font-size: 16px;
    }




}


@media (max-width: 576px){

    .cart{
        left: 0;
        width: 100%;
        border: none;
    }

    /* Main */

    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px;
    }


    /* About us*/
    .description-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 20px;
        width: 100%;
        max-width: 800px;
        padding: 10px;
        border: 1px solid white;
    }


    .description-image{
        width: 150px;
        height: 150px;
    }

    /* Products */
    .products-container{
        padding: 0px;
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
        gap: 10px;
    }

    .product-card{
        gap: 5px;
        padding: 5px;
    }

    .product-title{
        font-size: 16px;
    }

    .product-description{
        text-overflow: ellipsis;
        font-size: 14px;
    }

    .product-price{
        font-size: 20px;
        font-weight: 800;
    }

    .btn,
    .btn-add,
    .btn-cart{
        padding: 8px;
    }


    .contact-container img{
        display: none;
    }
}