@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Jura:wght@634&family=Outfit:wght@100..900&family=Rubik+Mono+One&family=Space+Grotesk:wght@300..700&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Figtree:ital,wght@0,300..900;1,300..900&family=Jura:wght@634&family=Outfit:wght@100..900&family=Rubik+Mono+One&family=Space+Grotesk:wght@300..700&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Doto:wght@100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Jura:wght@634&family=Outfit:wght@100..900&family=Rubik+Mono+One&family=Space+Grotesk:wght@300..700&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Doto:wght@100..900&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Jura:wght@634&family=Outfit:wght@100..900&family=Rubik+Mono+One&family=Space+Grotesk:wght@300..700&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Doto:wght@100..900&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Julius+Sans+One&family=Jura:wght@634&family=Outfit:wght@100..900&family=Rubik+Mono+One&family=Space+Grotesk:wght@300..700&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Doto:wght@100..900&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Julius+Sans+One&family=Jura:wght@634&family=Outfit:wght@100..900&family=Rubik+Mono+One&family=Space+Grotesk:wght@300..700&family=Syncopate:wght@400;700&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Doto:wght@100..900&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Faster+One&family=Figtree:ital,wght@0,300..900;1,300..900&family=Julius+Sans+One&family=Jura:wght@634&family=Outfit:wght@100..900&family=Rubik+Mono+One&family=Space+Grotesk:wght@300..700&family=Syncopate:wght@400;700&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Doto:wght@100..900&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Faster+One&family=Figtree:ital,wght@0,300..900;1,300..900&family=Jacquard+12+Charted&family=Julius+Sans+One&family=Jura:wght@634&family=Outfit:wght@100..900&family=Rubik+Mono+One&family=Space+Grotesk:wght@300..700&family=Syncopate:wght@400;700&family=Young+Serif&display=swap');



:root{
    --white-text: #fff;
    --max-width: 1200px;
    --border-radius: 10px;
    --bg-green: #0aac60;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body{
    /*
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(30deg, #000707, #03344b);
    */
}

/* Header */
header{
    background: #069c56;
    height: 60px;
    padding: 10px;
    /*
    background: linear-gradient(30deg, #0a8bc7, #47e2e2, #00ffff, #eee7e7);
    background: #0f0f0f96;
    place-items: center;
    */
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 100;
}

.cart-logo{
    /*background: red;*/
    max-height: 30px;
    max-width: 30px;
    color: white;
}

.navbar{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    /*background: lightcoral;*/
    max-width: var(--max-width);
}

.menu-label{
    display: flex;
    gap: 5px;
    flex-direction: column;
    cursor: pointer;
}

.menu-label, #menu-toggle{
    display: none;
}

.bar{
    width: 30px;    
    border: 2px solid black;
}

.navbar-list{
    padding: 10px;
    width: 100%;
    /*background: #c827d6;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.navbar-list a{
    /*background: rgb(144, 223, 17);*/
    color: white;
    /*
    font-weight: bold;
    font-size: 18px;
    */
    display: block;
    text-align: center;
    padding: 10px;
    font-family: "Didact Gothic", sans-serif;
}

.navbar-list a:hover{
    background-color: #057e45;
    border-radius: 6px;
    transition: all .5s;
    /*background: #00aeff;*/
    /* animation: sobresalir 1s linear */
}

@keyframes sobresalir{
    to{
        margin-left: 0px;
    }
    from{
        margin-left: 10px;
    }
}

.overlay {
    position: absolute;
    top: 65px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1; /*Para que quede por encima del resto de las cosas*/

    /*Efecto de Glassmorphismo*/
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
}

.show-overlay {
    display: block;
}

/* Main */
main{
    margin: 2px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /*padding: 10px;*/
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    /* 
    background: linear-gradient(120deg, black, gray); 
    */
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 45vh;
    width: 100%;
    padding: 30px;
    background: linear-gradient(var(--bg-green) , white);
    
    /*
    max-width: 1200px;
    background: linear-gradient(blue, red);
    background: linear-gradient(40deg, black, gray, white);
    */
}

.hero-container{
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
    max-width: var(--max-width);
}

.title-container{
    /* background: green;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.title{
    font-size: 50px;
    font-style: normal;
    color: var(--white-text);
    font-family: "Syncopate", serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    width: 100%;
    background: linear-gradient(20deg ,#000000, #525352, #c2c2c2);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    /* animation: surfcolors 1s infinite linear reverse; */
}

@keyframes surfcolors {
  
    from{
        background-clip: text;
        color: transparent;
        background: linear-gradient(20deg ,#525352, #c2c2c2, #000000);
    }
}


.title-container p{
    font-size: 20px;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--white-text);
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
    font-variation-settings: "ROND" 0;
    max-width: 600px;
}

.title-container img{
    height: 50px;
    width: 50px;
}

.hero img{
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}

.cards-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 40px;
    width: 100%;
    max-width: var(--max-width);
    border-radius: 10px;
    box-shadow: 1px 1px 15px 1px #c0c0c0;
}

.info-card{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 30px;
    width: 30%;
    box-shadow: 1px 1px 15px 1px #c0c0c0;
}

.card-title{
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    font-variation-settings: "ROND" 0;
}

.card-image{
    width: 80px;
}

.card-description{
    max-width: 80%;
    font-size: 17px;
}


/* Products */
.products-container{
    padding: 10px;
    max-width: var(--max-width);
    width: 100%;

    /*
    background: pink;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    */
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}


.product-card{
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    border-radius: 3px;
    background: white;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 1px 1px 2px 2px black;
}

.product-image{
    height: 200px;
    width: 100%;
    object-fit: contain;
}

.product-title{
    font-size: 17px;
}

.product-description{
    height: 80px;
    overflow: auto;
    width: 100%;
    padding: 10px 5px;
}

.product-price{
    font-size: 24px;
    font-weight: 800;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.btn, .btn-cart{
    background: #167fa1;
    color: white;
    font-weight: 500;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    width: 80%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}


.btn-logo{
    height: 14px;
}

/*
.btn-cart:hover{
    background: red;
    color: transparent;
}

.btn-cart:hover::after{
    content: 'Quitar';
    color: black;
    background: red;
}
*/

/* Carrito */

.cart-label{
    cursor: pointer;
    padding: 5px 10px;
}

.cart-label:hover{
    background-color: #057e45;
    border-radius: 6px;
}

.cart{
    position: absolute;
    top: 0;
    right: 0px;
    padding: 30px;
    background: #0aac60;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 100vh;
    overflow-y: scroll;
    z-index: 10;
    min-width: 375px;
    transform: translate(100%);
    transition:  all 0.5 cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.cart::-webkit-scrollbar {
    display: none;
  }

.header-cart{
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.cart-cross{
    border: 1px solid black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.cart-cross span{
    height: 1.5px;
    width: 30px;
    background: black;
    transition: transform 0.3s;
}

.cart-cross span:nth-child(1){
    position: relative;
    top: 0;
    transform: rotate(135deg);
}

.cart-cross span:nth-child(2){
    position: relative;
    top: 0;
    transform: rotate(225deg);
}

.cart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

/*OCULTAR BARRA DE SCROLL DEL CARRITO*/
.cart::-webkit-scrollbar {
    display: none;
  }
  

.open-cart{
    display: flex;
    padding: 10px;
    transform: translate(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

/*
.total-container{
    position: fixed;
    bottom: 0px;
    background: red;
    width: 100%;
}
*/



.item-cart{
    top: 0px;
    position: relative;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 5px;
    background: pink;
}

.cart-item-image{
    max-width: 100%;
    max-height: 100%;
}

.cart-container label{
    font-size: 22px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    font-family: "Didact Gothic", sans-serif;
}









#menu-cart{
    /*display: none;*/
}

#menu-cart:checked  + .cart-list{
    display: flex
}





/* Contacto */
.contact-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    /*box-shadow: 1px 1px 15px 1px #057e45;*/
    box-shadow: 1px 1px 15px 1px #c0c0c0;
    width: 100%;
    max-width: var(--max-width);
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
}

.input-container{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    padding: 5px;
    /*
    background: cadetblue;
    border-radius: 10px;
    box-shadow: 1px 1px 15px 1px #057e45;
    */
}

.input-container label{
    font-size: 20px;
    width: 100%;
    text-align: left;
}

.input-container input{
    height: 25px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid black;
}

.contact-container img{
    max-width: 100%;
    height: 70%;
    width: 50%;
    border-radius: 10px;
    padding: 5px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 120px;
    background: var(--bg-green);
}

footer p{
    color: white;
    font-size: 22px;
}

.developer{
    color: white;
    text-decoration: underline;
    animation: pulse .5s infinite linear alternate-reverse;
}


@keyframes pulse {
    to{
        text-decoration: none;
    }
    from{
        text-decoration: underline;
    }
}