@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Jura:wght@634&family=Outfit:wght@100..900&family=Rubik+Mono+One&family=Space+Grotesk:wght@300..700&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Figtree:ital,wght@0,300..900;1,300..900&family=Jura:wght@634&family=Outfit:wght@100..900&family=Rubik+Mono+One&family=Space+Grotesk:wght@300..700&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Doto:wght@100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Jura:wght@634&family=Outfit:wght@100..900&family=Rubik+Mono+One&family=Space+Grotesk:wght@300..700&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Doto:wght@100..900&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Jura:wght@634&family=Outfit:wght@100..900&family=Rubik+Mono+One&family=Space+Grotesk:wght@300..700&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Doto:wght@100..900&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Julius+Sans+One&family=Jura:wght@634&family=Outfit:wght@100..900&family=Rubik+Mono+One&family=Space+Grotesk:wght@300..700&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Doto:wght@100..900&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Julius+Sans+One&family=Jura:wght@634&family=Outfit:wght@100..900&family=Rubik+Mono+One&family=Space+Grotesk:wght@300..700&family=Syncopate:wght@400;700&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Doto:wght@100..900&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Faster+One&family=Figtree:ital,wght@0,300..900;1,300..900&family=Julius+Sans+One&family=Jura:wght@634&family=Outfit:wght@100..900&family=Rubik+Mono+One&family=Space+Grotesk:wght@300..700&family=Syncopate:wght@400;700&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Doto:wght@100..900&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Faster+One&family=Figtree:ital,wght@0,300..900;1,300..900&family=Jacquard+12+Charted&family=Julius+Sans+One&family=Jura:wght@634&family=Outfit:wght@100..900&family=Rubik+Mono+One&family=Space+Grotesk:wght@300..700&family=Syncopate:wght@400;700&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&display=swap');

:root{
    --white-text: #fff;
    --max-width: 1200px;
    --border-radius: 10px;
    --bg-green: #0aac60;


    --background: #02050e;
    --primary: #1e50ff;
    --secondary: #272d37;
    --btn-bg: #050d26;
    --bg-azul-10: #e9eeff;
    --bg-white: #fff;
    --bg-electric: #f0fbff;
    --nav-bg: #0f1525;
  
    /* Text colors */
    --text-gray: #adb9c7;
    --text-white: #f3f4f6;
  
    /* Decoration */
    --fire: #ff6d00;
    --electric: #64d3ff;
    --bg-dark: #333333;
    --bg-gray: #e2e2e2f5
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    /*
    background: var(--background);
    background: var(--bg-gray);
    background: var(--bg-dark);
    */
}

/* Header */
header{
    background: #069c56;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    padding: 0px 10px;
    margin: 0 auto;
    backdrop-filter: blur(5px);
    z-index: 100;
}

/* NavBar */
.navbar{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    max-width: var(--max-width);
}

.menu-label{
    display: none;
}

.bar{
    width: 30px;
    border: 1px solid white;
}

.navbar-list{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.navbar-link{
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    font-family: "Didact Gothic", sans-serif;
}

.navbar-link:hover{
    background-color: #057e45;
    border-radius: 6px;
    transition: all .5s;
}

/* Cart label*/
.cart-label{
    cursor: pointer;
    padding: 5px 10px;
}

.cart-label:hover{
    background-color: #057e45;
    border-radius: 6px;
}

.cart-icon {
    font-weight: 600;
    border-radius: 10px;
    font-size: 18px;
    margin-right: 1rem;
    color: var(--text-white);
    cursor: pointer;
    position: relative;
}

.cart-bubble {
    position: absolute;
    top: -8px;
    right: -8px;
    text-align: center;
    background: var(--primary);
    color: var(--text-white);
    font-size: 10px;
    font-weight: 500;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
    border-radius: 50%;
}

/* Cart */
.cart{
    position: absolute;
    top: 62px;
    right: 0px;
    padding: 30px;
    background: #0aac60;
    border-left: 1px solid white;
    display: flex;
    flex-direction: column;
    /*gap: 30px;*/
    gap: 10px;
    height: calc(100vh - 65px);
    overflow-y: scroll;
    z-index: 2;
    min-width: 375px;
    transform: translate(200%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    /* Si pongo display none no hace la animacion translate*/
    /*display: none;*/
}

.cart::-webkit-scrollbar{
    display: none;
}

.header-cart{
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    /*background: violet;*/
}

.cart-cross{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    cursor: pointer;
}

.cart-cross img{
    width: 30px;
    height: 30px;

}

.header-cart h2,
.cart-cross p{
    color: white;
    font-family: "Didact Gothic", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.cart-cross p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 5px 10px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 8px;
    color: white;
}

.cart-body,
.components-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cart-message{
    text-align: center;
    color: white;
    font-size: 20px;
}

.cart-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    background: #f3f3f3;
    border: 1px solid var(--electric);
    border: 1px solid black;
    border-radius: 10px;
}

.cart-item img{
    height: 60px;
    width: 60px;
}

.item-info {
    display: flex;
    flex-direction: column;
    min-width: 110px;
    width: 100%;
}

.item-title {
    color: var(--text-white);
    font-weight: 600;
    font-size: 14px;
    color: black;
}

.item-bid {
    color: var(--text-gray);
    color: black;
    font-weight: 300;
    font-size: 12px;
}

.item-price {
    background: linear-gradient(to right, #30cfd0, #c43ad6);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-size: 16px;
    font-weight: 800;
    color: white;
    color: black;
}

.item-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.quantity-handler{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    border-radius: 5px;
    color: var(--text-white);
    font-weight: 400;
}

.item-quantity {
    color: var(--text-gray);
    color: #000;
}

.up,
.down,
.delete-icon{
    cursor: pointer;
}

.up{
    border: 1px solid var(--electric);
    border: 1px solid black;
    background-color: var(--secondary);
}

.down{
    background-color: var(--secondary);
    border: 1px solid var(--electric);
    border: 1px solid black;
    color: white;
    font-weight: 800;
}

.delete-icon{
    color: red;
    font-size: 20px;
}

.divider {
    margin-top: 20px;
    border: 0.5px solid var(--electric);
    border: 0.5px solid white;
    width: 100%;
}


.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.cart-total p {
    color: var(--text-white);
    font-weight: 700;
}

.cart-total span {
    color: var(--text-white);
    font-weight: 400;
    font-size: 18px;
}

.btn-add,
.btn-buy,
.btn-delete {
  cursor: pointer;
  padding: 10px 35px;
  color: var(--bg-white);
  border-radius: 10px;
  border: none;
  transition: 0.3s all ease-out;
}

.btn-buy,
.btn-add {
  background: var(--primary);
}

.btn-buy,
.btn-delete {
  width: 100%;
}

.btn-delete {
  border: 2px solid var(--primary);
  background-color: transparent;
}

.btn-delete:hover {
  background: var(--primary);
  transition: 0.3s all ease-in;
}

.btn-load {
  background: none;
  border: 1px solid var(--electric);
  padding: 10px 35px;
  color: var(--bg-white);
  border-radius: 10px;
  cursor: pointer;
}



/*Toggle del carro*/
.open-cart{
    display: flex;
    transform: translate(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.empty-msg{
    color: var(--text-gray);
    font-size: 14px;
}




/* Estilos extras de elementos */
.hidden {
    display: none;
}

.disabled {
    background-color: var(--text-gray);
    color: white;
    cursor: not-allowed;
    border: none;
}
.disabled:hover {
    background-color: var(--text-gray);
    color: white;
    cursor: not-allowed;
    border: none;
}

.add-modal {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: var(--text-white);
    background-color: green;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: all 0.5s ease-out;
    transform: translateY(200%);
}

.active-modal {
    transform: translateY(0);
    transition: all 0.5s ease-in;
}

.cart-label-modal{
    cursor: pointer;
    padding: 5px 10px;
    background: #167fa1;
    border-radius: 6px;
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





.overlay {
    position: absolute;
    top: 65px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1; /*Para que quede por encima del resto de las cosas*/
    /*Efecto de Glassmorphismo*/
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
}

.show-overlay {
    display: block;
}

/* Main */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

/* Hero */
.hero{
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /*height: 45vh;*/
    width: 100%;
    padding: 50px;
    background: linear-gradient(var(--bg-green) , white);
    background: linear-gradient(var(--bg-green) , var(--bg-gray));
}

.hero-container{
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
    max-width: var(--max-width);
}

.title-container{
    /* background: green;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.title{
    font-size: 50px;
    font-style: normal;
    color: var(--white-text);
    font-family: "Syncopate", serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    width: 100%;
    background: linear-gradient(20deg ,#000000, #525352, #c2c2c2);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    /* animation: surfcolors 1s infinite linear reverse; */
}

@keyframes surfcolors {
    from{
        background-clip: text;
        color: transparent;
        background: linear-gradient(20deg ,#525352, #c2c2c2, #000000);
    }
}

.title-container p{
    font-size: 20px;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--white-text);
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
    font-variation-settings: "ROND" 0;
    max-width: 600px;
}

.hero img{
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}

/* About us*/
.section-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 100%;
    max-width: var(--max-width);
    border-radius: 10px;
    box-shadow: 1px 1px 15px 1px #c0c0c0;
}

.title-section{
    font-size: 30px;
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-align: center;
}

.description-card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    width: 100%;
    max-width: 800px;
    padding: 10px;
    border: 1px solid white;
}

.description-image{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.flex-row-reverse{
    display: flex;
    flex-direction: row-reverse;
}

.text-description{
    font-weight: 900;
    font-size: 18px;
    font-family: "Doto", sans-serif;
}

/* Services */
/*
#services{
    width: 100%;
    max-width: var(--max-width);
    box-shadow: 1px 1px 15px 1px #c0c0c0;
    padding: 40px;
}


#services h2{
    font-size: 30px;
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 800;
    font-style: normal;
}
*/

.cards-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    /*padding: 40px;*/
    width: 100%;
    max-width: var(--max-width);
    border-radius: 10px;
    
}

.info-card{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 30px;
    width: 30%;
    box-shadow: 1px 1px 15px 1px #c0c0c0;
}

.card-title{
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    font-variation-settings: "ROND" 0;
}

.card-image{
    width: 80px;
}

.card-description{
    max-width: 80%;
    font-size: 17px;
}

/* Categories */
.categories-container{
    display: flex;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    max-width: var(--max-width);
}

.category{
    background: var(--bg-green);
    padding: 5px 20px;
    border-radius: 8px;
    font-weight: 800;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.active-category{
    background: var(--primary);
}

/* Products */
.products-container{
    padding: 10px;
    max-width: var(--max-width);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
    background: #e9e7e7;
    box-shadow: 1px 1px 2px 2px black;
}

.image-container-product{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.tag-container{
    /*background: red;*/
    padding: 5px 10px;
    display: flex;
    gap: 10px;
}

.tag-product{
    background: #1ba326;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: capitalize;
}

.product-title{
    font-size: 17px;
}

/*
.product-description{
    text-overflow: ellipsis;
}
*/

.product-price{
    font-size: 24px;
    font-weight: 800;
}

.quantity-container{
    width: 100%;
    /*background: green;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.btn,
.btn-add,
.btn-cart{
    background: #167fa1;
    color: white;
    font-weight: 500;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-logo{
    height: 14px;
}



/* Contacto */
.contact-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    /*box-shadow: 1px 1px 15px 1px #057e45;*/
    box-shadow: 1px 1px 15px 1px #c0c0c0;
    width: 100%;
    max-width: var(--max-width);
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
}

.input-container{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    padding: 5px;
    /*
    background: cadetblue;
    border-radius: 10px;
    box-shadow: 1px 1px 15px 1px #057e45;
    */
}

.input-container label{
    font-size: 20px;
    width: 100%;
    text-align: left;
}

.input-container input{
    height: 25px;
    width: 100%;
    
    font-size: 20px;
    border: none;
    padding-left: 5px;
    border-bottom: 1px solid black;
}

.input-container input:focus{
    background: #20f54e;
    border: none;
}

.input-container input::selection{
    background: #1ac2ec;
}

.message{
    background: #ff2424;
    color: white;
    font-weight: 400;
    padding: 10px;
    border-radius: 10px;
}

.contact-container img{
    max-width: 100%;
    height: 70%;
    width: 50%;
    border-radius: 10px;
    padding: 5px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 120px;
    background: var(--bg-green);
    padding: 20px;
}

footer p{
    color: white;
    font-size: 22px;
}

.developer{
    color: white;
    text-decoration: underline;
    animation: pulse .5s infinite linear alternate-reverse;
}


@keyframes pulse {
    to{
        text-decoration: none;
    }
    from{
        text-decoration: underline;
    }
}